* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

html, body{
    height: 100%;
    width: 100%;
}

.container-fluid {
    background-color: rgb(17, 109, 17);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    width: 18rem;
    height: 27rem;
    margin: 20px;
}

.card-body {
    height: 30%;
}

.card-text {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}